<div class="container">
    <div class="content">
      <h4>History</h4>
     <div class="error" *ngIf="isError">
       {{message}}
     </div>
     <div class="success" *ngIf="success">
      {{message}}
     </div>
      <table class="table table-inverse">
          <thead>
            <tr>
              <th>Transection Date</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
            <button type="button" (click)="close()" class="btn btn-danger" style="float:right;margin:1px">Close</button>
    </div>
    </div>

