<div class="container">
    <div class="content">
      <h4>History</h4>
     <div class="error" *ngIf="isError">
       {{message}}
     </div>
     <div class="success" *ngIf="success">
      {{message}}
     </div>
      <table class="table table-inverse">
          <thead>
            <tr>
              <th>Product ID</th>
              <th>Transection Date</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data">
              <td>{{d.p_id}}</td>
              <td>{{d.trans_date| date: 'dd/MM/yyyy'}}</td>
              <td>{{d.total_price}}</td>
            </tr>
          </tbody>
        </table>
            <button type="button" (click)="close()" class="btn btn-danger" style="float:right;margin:1px">Close</button>
    </div>
    </div>