<br><br><br><br>
<br><br><br><br>
<div class="container">
  <div class="head">
    <div class="row">
      <div class="col-md-4">
        <h2>Products</h2>
      </div>
      <div class="col-md-4">
        <form class="form-inline">
          <input type="search" class="form-control" placeholder="Serch by category">
        </form>
      </div>
    </div>
  </div>
<div *ngFor="let d of data; let x = index"[routerLink]="['/buy', d.p_id]">
    
  <div class="row" >
    <div class="product">
      <div class="row">
        <div class="col-md-4">
          {{d.name}}
          <h4>R{{d.price}}</h4>
        </div>
        <div class="col-md-4">
          <p>
            {{d.description}}
          </p>
        </div>
        <div class="col-md-4">
          <button type="button" (click)="buyProd(d)"class="btn btn-success" style="float:right;margin:1px"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>